@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../font/merriweather-regular/Merriweather-Regular.eot');
  src: url('../font/merriweather-regular/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/merriweather-regular/Merriweather-Regular.svg#Merriweather-Regular') format('svg'),
       url('../font/merriweather-regular/Merriweather-Regular.ttf') format('truetype'),
       url('../font/merriweather-regular/Merriweather-Regular.woff') format('woff'),
       url('../font/merriweather-regular/Merriweather-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
