@font-face {
  font-family: 'Poppins-Regular';
  src: url('../font/poppins-regular/Poppins-Regular.eot');
  src: url('../font/poppins-regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/poppins-regular/Poppins-Regular.svg#Poppins-Regular') format('svg'),
       url('../font/poppins-regular/Poppins-Regular.ttf') format('truetype'),
       url('../font/poppins-regular/Poppins-Regular.woff') format('woff'),
       url('../font/poppins-regular/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
