@font-face {
  font-family: 'Poppins-Medium';
  src: url('../font/poppins-medium/Poppins-Medium.eot');
  src: url('../font/poppins-medium/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
       url('../font/poppins-medium/Poppins-Medium.svg#Poppins-Medium') format('svg'),
       url('../font/poppins-medium/Poppins-Medium.ttf') format('truetype'),
       url('../font/poppins-medium/Poppins-Medium.woff') format('woff'),
       url('../font/poppins-medium/Poppins-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
