@font-face {
  font-family: 'Raleway-Regular';
  src: url('../font/raleway-regular/Raleway-Regular.eot');
  src: url('../font/raleway-regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/raleway-regular/Raleway-Regular.svg#Raleway-Regular') format('svg'),
       url('../font/raleway-regular/Raleway-Regular.ttf') format('truetype'),
       url('../font/raleway-regular/Raleway-Regular.woff') format('woff'),
       url('../font/raleway-regular/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
