@font-face {
  font-family: 'Roboto-Regular';
  src: url('../font/roboto/roboto.eot');
  src: url('../font/roboto/roboto.eot?#iefix') format('embedded-opentype'),
       url('../font/roboto/roboto.svg#Roboto-Regular') format('svg'),
       url('../font/roboto/roboto.ttf') format('truetype'),
       url('../font/roboto/roboto.woff') format('woff'),
       url('../font/roboto/roboto.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
